.al-header-wrapper .menu li a:hover {
    color: #e79a0b;
    font-weight: 800;
}

.al-sub {
    margin: 20px auto;
    width: 100%;
}

/* .swiper-button-next:hover {
    background-color: #CB4A0C;
    ;
} */
.al-btn {
    background-color: #d25e10 !important;
    font-size: 17px;
}

.menu-item-912 .btn {
    background: linear-gradient(0deg, rgb(253, 127, 9) 0%, rgb(203 74 12) 100%);
    width: 100px !important;
    border-radius: 5px;
    color: white !important;
}

/* .swiper-container {
    padding: 20px !important;
    border: 2px solid pink;
    width: 1200px !important;
} */

.al-menu-toggle::before {
    background-color: #FF7010 !important;
}

.al-heading {
    color: #000000;
    font-size: 26px;
    /* font-family: sans-serif; */
    font-weight: 600;
}

.as-paragraph-wrapper p {
    color: rgb(110, 108, 108);
}

.img-responsive {
    border-radius: 10px;
}

.as-contact-expert .as-icon::before {
    box-shadow: 0 0 15px rgba(232, 116, 7, 0.6);
}

.as-paragraph-wrapper {
    border-left: 3px solid #FF7010 !important;
}

.kundali-heading {
    gap: 10px;
}


.buyNow button {
    margin-top: 15px;
}


/* Hide default cursor
body {
    cursor: none;
} */


.rr-appointment-card:hover {
    transform: translateY(-10px);
    /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); */
    background-color: #fcba8f !important;
}

.buyNow .link-btn button {
    background-color: pink !important;
}

.as-service-box p {
    margin-top: 20px;
}

.as-service-box:hover {
    background-color: #cb5100 !important;
    color: white !important;
}

.buyNow button:hover {
    background-color: pink !important;
}

.as-service-box:hover .as-subheading,
.as-service-box:hover p,
.as-service-box:hover .as-link {
    color: white;
}

.as-service-box .as-icon svg {
    fill: var(--al-primary-color);
    transition: none;
}

.as-service-box:hover .as-icon svg {
    fill: white;
    transition: none;
}

.ss-content-1 h1,
.ss-content-1 p {
    opacity: 0;
    transform: translateY(40px);
    animation: slideUp 1s ease forwards;
}

.professional-1 {
    animation-delay: 0.3s;
}

.luck-1 {
    animation-delay: 0.8s;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.raShiOfFrontPage {
    transition: all 0.3s ease;
}

.raShiOfFrontPage:hover {
    background-color: #f76401 !important;
    color: white;
}

/* change inner text also */
.raShiOfFrontPage:hover p,
.raShiOfFrontPage:hover h3,
.raShiOfFrontPage:hover a {
    color: rgb(38, 37, 37);
}

.al-expert-content p {
    color: #4b4b4b;
}

.testimonial123-carousel-item {
    background-color: #faf0ea !important;

}

.testimonial123-content h4 {
    margin-top: 30px;
}

.followers {
    text-align: center;
    color: white;
}

.al-copyright-wrapper {
    background-color: #000000 !important;

}

.option-buttons button:hover {
    background-color: #d05606;
    color: white;
}

.option-buttons button {
    background-color: #4b4b4b;
}

.hh2appoint {
    color: #dfb10b !important;
}

.testimonial123-prev-button:hover {
    background-color: #c24f02;
    color: white;
}

.testimonial123-next-button:hover {
    background-color: #c24f02;
    color: white;
}

.as-sign-box:hover {
    background-color: linear-gradient(0deg, rgb(253, 127, 9) 0%, rgb(203 74 12) 100%) !important;
}

.hs_sign_left_tabs_wrapper .hs_slider_tabs_icon_wrapper img {
    background: #ff6b08 !important;
}

.active-tab {
    background-color: rgb(254, 111, 9) !important;
}

.active-tab:hover {
    background-color: rgb(182, 21, 48);
}

.appointfirst h3 hr {
    background-color: #ff6b08 !important;
}

.tagline span {
    background-color: #ff6b08 !important;
}
.makeappointment a {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.makeappointment a button {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 320px !important;
    height: 42px !important;
    border: none !important;
    color: white !important;
    font-weight: 500 !important;
    letter-spacing: 0.5px !important;
    font-size: 1rem !important;
    box-shadow: 1px 1px 4px -2px #cccdcf !important;
    border-radius: 5px !important;
    background-color: #c24f02 !important;
    font-family: "Poppins", sans-serif !important;
    transition: all 0.2s ease-in !important;

}

.makeappointment a button:hover {
    background: #f17725 !important;
    color: #ffffff !important;
    transform: scale(1.00) !important;
}

.get-copy-button{
    background-color: #c24f02 !important;
    
}