@import url("https://fonts.googleapis.com/css2?family=Mooli&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mooli&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.Nav-top {
    /* background: rgb(255 255 255 / 51%)  url('https://www.everwallpaper.co.uk/cdn/shop/products/white-astrology-sun-mural-wallpaper-plain.jpg?v=1644564119'); */

}

.list-unstyled {
    padding: 10px 0 0 0;
    /* background: rgb(255 255 255 / 51%)  url('https://www.everwallpaper.co.uk/cdn/shop/products/white-astrology-sun-mural-wallpaper-plain.jpg?v=1644564119'); */
    /* padding: 10px 0 0px 0p */
}

.container_main {
    position: sticky;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}

.container_main .leftContainer {
    padding: 40px 0 0 px;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
    height: 88vh;
    width: 35.5%;
    /* position: relative; */
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.user-dashboard-info-box .chit-chat {
    padding: 0 !important;
    margin: -32 -48 !important;
}

.container_main .asideLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 0px;
}

.container_main .asideLeft .top {
    display: flex;
    /* gap: 68px; */
    justify-content: space-between;
    width: 100%;
    /* padding: 40px 40px 0; */
}

.container_main .asideLeft .top .topLeft h3 {
    font-weight: 800;
    font-size: 25.08px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 2px;
}

.container_main .asideLeft .top .topLeft p {
    font-size: 15px;
}

.container_main .asideLeft .topRight {
    background-color: #eff7fe;
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;

}

.container_main .asideLeft .topRight i {
    font-size: 20px;
    text-align: center;
    /* border-radius: 50%; */
    margin: 13px;
    color: #30a3e5;
}

.container_main .asideLeft .image-crousel {
    margin: 0;
}

.container_main .asideLeft .image-crousel .images {
    /* box-shadow: inset 0 -25px 40px 6px rgba(0, 0, 0, .8);
  height: 110px;
  width: 96.66px;
  margin: 0 7px;
  border-radius: 20px;
  display: flex; */
    position: relative;
}

.container_main .asideLeft .image-crousel {
    overflow-x: scroll;
    display: flex;
    width: 325px;
    gap: 15px;
    padding: 0 5px;
}

.container_main .asideLeft .image-crousel img {
    width: 96.66px;
    border-radius: 20px;
    overflow-y: auto;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container_main .asideLeft .image-crousel .images::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    box-shadow: inset 0 -25px 40px 6px rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    z-index: 5;
    border-radius: 15px;
}

.image-crousel::-webkit-scrollbar {
    display: none;
}

.container_main .asideLeft .scrollSection {
    display: block;
    flex-direction: column;
    width: 100%;
    /* position: relative; */

}

.container_main .asideLeft .scrollSection::-webkit-scrollbar {
    display: none;
}

.container_main .asideLeft .scrollSection .searchbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 40px 0;


}

.container_main .asideLeft .scrollSection .searchbar .left h3 {
    font-weight: 800;
    font-family: "Montserrat", sans-serif;
    font-size: 26.08px;
    margin-bottom: 2px;
}

.container_main .asideLeft .scrollSection .searchbar .right {
    background-color: #eff7fe;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;

}

.container_main .asideLeft .scrollSection .searchbar .right i {
    margin: 10px;
    color: #1f9feb;
}

.container_main .asideLeft .scrollSection .theme-tab {
    /* margin: 40px 0; */
    width: 100%;
    height: 75vh;
    /* position: relative; */

    /* margin: 0 0 80px 0; */
    /* overflow-y: scroll; */
}

.container_main .asideLeft .scrollSection .theme-tab .Add_contact_parent {
    display: flex;
    align-items: flex-end;
    position: relative;
    /* position: absolute; */

    justify-content: flex-end;
    margin: -67px 0 0 0px;
    padding: 0px 15px 15px 0;
}

.container_main .asideLeft .scrollSection .theme-tab .Add_contact_parent .Add_contact {
    background-color: #eef0f2;
    width: 40px !important;
    height: 40px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed; */

    /* text-align: center; */
    border-radius: 50%;
    /* margin-right: 17px; */
}

.container_main .asideLeft .scrollSection .theme-tab .Add_contact_parent .Add_contact i {
    color: #30373b;
}

/* .container_main .asideLeft .scrollSection .theme-tab::-webkit-scrollbar {
  display: none;
} */
.container_main .asideLeft .scrollSection .trippleC {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 40px 30px;
}

.container_main .asideLeft .scrollSection .trippleC .call {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eef0f2;
    padding: 0px 14px;
    border-radius: 25px;
    cursor: pointer;

}

.container_main .asideLeft .scrollSection .trippleC .call .icon {
    display: flex;
    align-items: center;
    padding: -5px 0px 0 0;
    margin: 3px 5px 0 0;
}

.container_main .asideLeft .scrollSection .trippleC .call .para {
    padding: 4px 0 0 0;
    margin: 4px 0px 0 0;
}

.container_main .asideLeft .scrollSection .group_sec {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 40px;
}

.container_main .asideLeft .scrollSection .group_sec .direct {
    background: #eef0f2;
    border-radius: 10px;
    padding: 7px 40px;
    margin: 0 0 20px 0;
}

.container_main .asideLeft .scrollSection .group_sec .direct h6 {
    margin: 5px;
}

.container_main .asideLeft .scrollSection .All_chats {
    display: flex;
    flex-direction: column;
    /* padding-bottom: 60px; */
    overflow-y: scroll;
    height: 93%;
    position: relative;
}

.container_main .asideLeft .scrollSection .All_chats::-webkit-scrollbar {
    width: 5px;
}

.container_main .asideLeft .scrollSection .All_chats::-webkit-scrollbar-thumb {
    background-color: #D6EBF9;
    border-radius: 5px;
}

.container_main .asideLeft .scrollSection .All_chats .chats {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    cursor: pointer;

}

.container_main .asideLeft .scrollSection .All_chats .chats:hover {
    border-left: 4px solid #1c9ceb;
    background-color: #eff7fe;
    transition: all 300ms ease-in-out;

    #blue {
        color: #1da4ec;
        font-weight: 800;
        transition: all 300ms ease-in-out;
    }
}

.chat_active {
    border-left: 4px solid #1c9ceb;
    background-color: #eff7fe;

    #blue {
        color: #1da4ec;
        font-weight: 800;
    }

}

.container_main .asideLeft .scrollSection .All_chats .chats img {
    height: 60px;
    width: 60px;
    border-radius: 20px;
    margin: 5px 0 0 0px;

}

.container_main .asideLeft .scrollSection .All_chats .chats .prfl_pic_name_parent {
    display: flex;
    gap: 15px;
}

.container_main .asideLeft .scrollSection .All_chats .chats .name {
    max-width: 170px;
    display: grid;
    margin: 15px 0 0 0;
    justify-content: flex-start;
}

.container_main .asideLeft .scrollSection .All_chats .chats .date {
    /* max-width: 170px;
  display: grid;
  margin: 15px 0;
  justify-content: flex-start; */
    padding-top: 10px;
}

.container_main .asideLeft .scrollSection .All_chats .chats .name h6 {
    font-size: calc(13.8px + 0.0625vw);
    font-weight: 700;
    color: #223645;
    margin: 0 0 5px 0;
}

.container_main .asideLeft .scrollSection .All_chats .chats .name p {
    /* padding-top: 8px; */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #223645;
    font-size: 12px;
    font-weight: 400;
}

.container_main .asideLeft .scrollSection .All_chats .chats .date h6 {
    font-size: calc(10.8px + 0.0625vw) !important;
    font-weight: 600;
    margin: -13px 0 0 0;
    background-color: none !important;
    /* position: absolute; */
}

.container_main .asideLeft .scrollSection .All_chats .chats .date i {
    /* position: fixed; */
}

.container_main .asideLeft .scrollSection .All_chats .chats .date i {
    /* display: none; */
    visibility: hidden;
    /* position: absolute; */
}

.container_main .asideLeft .scrollSection .All_chats .chats .date #blue_circle {
    height: 18px;
    width: 18px;
    border-radius: 50px;
    background-color: #1c9ceb;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 5px; */
}

.container_main .asideLeft .scrollSection .All_chats .chats .date #blue_circle span {
    color: white;
}

.container_main .asideLeft .scrollSection .All_chats .chats:hover i {
    visibility: visible;
}

.container_main .asideLeft .scrollSection .All_chats .chats p {
    font-size: 12px;
}

.container_main .asideRight {
    background-color: #eff7fe;
    /* position: absolute; */
    padding-top: 20px;
    width: 100%;
    display: flex;
    height: 88vh;
    flex-direction: column;
    /* align-items:flex-end; */
    /* flex: -2; */
    justify-content: space-between;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}

.container_main .asideRight .header {
    background-color: white;
    padding: 20px 30px;
    margin: 0 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.container_main .asideRight .header .profile_sec {
    gap: 15px;
    display: flex;
    justify-content: space-between;
    /* padding: 0 20px; */
    width: 100%;
}

.verticle_line {
    height: 30px;
    width: 0.5px;
    background-color: black;
    margin: 20px 0 0 0;
}

.container_main .asideRight .header .profile_sec .prfl-pic img {
    height: 60px;
    width: 60px;
    border-radius: 20px;
    /* margin: 5px 0 0 0px; */
}

.container_main .asideRight .header .profile_sec .prfl-pic .online {
    position: absolute;
    width: 13px;
    top: -2px;
    right: 0;
    height: 13px;
    background-color: #3ecd35;
    border-radius: 50%;
    border: 2px solid white;
}

.container_main .asideRight .header .profile_sec .name {
    display: block;
    align-items: center;

    margin: 10px 30px 0 0;
}

.container_main .asideRight .header .profile_sec .name #blue_circle {
    height: 18px;
    width: 60px;
    padding: 2px 5px;
    border-radius: 25px;
    background-color: #3ecd35;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_main .asideRight .header .profile_sec .name h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 13.76px;
    color: #223645;
}

.container_main .asideRight .header .profile_sec .name #blue_circle span {
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 12px;
}

.container_main .asideRight .header .profile_sec .left_sec {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.container_main .asideRight .header .profile_sec .search {
    display: flex;
    align-items: center;
    /* gap: 10px; */
    justify-content: space-between;
}

.container_main .asideRight .header .profile_sec .search .topRight {
    background-color: #eef0f2;
    width: 42px !important;
    height: 42px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    border-radius: 50%;
    margin-left: 17px;
    cursor: pointer;

}

.container_main .asideRight .header .profile_sec .search .top {
    margin-left: 17px;
}

.container_main .asideRight .header .profile_sec .search .topRight i {
    font-size: 16px;
    text-align: center;
    /* border-radius: 50%; */
    /* margin: 13px; */
    color: #30373b;
}

.container_main .asideRight .header .profile_sec .right_sec {
    margin: 7px 0 0 0;
}

.container_main .asideRight .footer_parent {
    background-color: white;
    width: 100%;
    display: flex;
    /* justify-content: flex-end; */
    /* align-items: flex-end; */
    flex-direction: column-reverse;
    margin-bottom: 0;
    /* position: relative; */
}

.container_main .asideRight .footer {
    margin: 15px 40px 15px 40px;
    padding-right: 16px;
    box-sizing: border-box;
    display: flex;

    justify-content: space-between;
}

.container_main .asideRight .footer_parent .plus_button {
    display: flex;
    flex-direction: column;
    padding: 30px;
    /* width: 180px; */
    display: none;
    position: absolute;
    left: 140px;
    /* top: -290px; */
    background: #fbf9f9;
    cursor: pointer;
}

.container_main .asideRight .footer_parent .plus_button .items {
    display: flex;
    /* justify-content: space-between; */
    gap: 20px;
    padding: 0 30px 2px 0;
}

.container_main .asideRight .footer_parent .imojies_button {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    width: 280px;
    display: none;
    position: absolute;
    left: 100px;
    top: -250px;
    background: #fbf9f9;
    cursor: pointer;
}

.container_main .asideRight .footer_parent .plus_button .items {
    display: flex;
    /* justify-content: space-between; */
    gap: 20px;
    padding: 0 30px 2px 0;
}

.container_main .asideRight .footer_parent .gifs_button {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 20px 30px 30px;

    width: 400px;
    height: 260px;
    display: none;
    position: absolute;
    left: 60px;
    overflow-y: scroll;
    top: -270px;
    background: #fbf9f9;
    cursor: pointer;
}

.container_main .asideRight .footer_parent .gifs_button::-webkit-scrollbar {
    width: 5px;
}

.container_main .asideRight .footer_parent .gifs_button::-webkit-scrollbar-thumb {
    background-color: #D6EBF9;
    border-radius: 5px;
    padding-right: 10px;
}

.container_main .asideRight .footer_parent .gifs_button .gifs_items {
    display: flex;
    flex-wrap: wrap;
    /* overflow-y: scroll; */
    /* justify-content: space-between; */
    gap: 5px;
    /* height: 50px; */
    letter-spacing: 5px;
    /* padding: 0 30px 2px 0; */
}

.container_main .asideRight .footer_parent .gifs_button .gifs_items img {
    /* display: flex; */
    /* justify-content: space-between; */
    gap: 20px;
    width: 45px;
    height: auto;
    /* letter-spacing: 5px; */
    /* padding: 0 30px 2px 0; */
}

.container_main .asideRight .footer_parent .plus_button .items:hover {
    color: #1c9ceb;
}

.container_main .asideRight .footer_parent .plus_button #fileInput {
    display: none;
    padding: 0 0 1px 0;
}

.container_main .asideRight .search {
    display: flex;
    align-items: center;
    /* gap: 10px; */
    /* justify-content: space-between; */
}

.container_main .asideRight .search .topLeft {
    background-color: #eff7fe;
    width: 42px !important;
    height: 42px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    border-radius: 50%;
    margin-right: 17px;
    cursor: pointer;

}

.container_main .asideRight .search .topLeft i {
    color: #30a3e5;
}

.container_main .asideRight .search .topLeft .top {}

.container_main .asideRight .search .top input {
    border: none;
    /* outline: none; */
}

.container_main .asideRight .search .top input:focus {
    border: none;
    outline: none;
}

.container_main .asideRight .right .topLeft {
    background-color: #eff7fe;
    width: 40px !important;
    height: 40px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    border-radius: 50%;
    margin-right: 17px;
    cursor: pointer;

}

.container_main .asideRight .right .topLeft i {
    color: #30a3e5;
}

#logo {
    position: relative;
}

.online {
    position: absolute;
    width: 13px;
    top: 3px;
    right: 0;
    height: 13px;
    background-color: #3ecd35;
    border-radius: 50%;
    border: 2px solid white;
}

.message {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 0 0 0 80px;
}

.message .own p {
    padding: 5px 15px;
    align-items: flex-end;
    max-width: 400px;
    background: #1c9dea;
    border-radius: 0px 25px 25px 30px;
    color: #fff;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;

    font-size: 14px;
}

.mid {
    overflow-y: scroll;
}

.mid::-webkit-scrollbar {
    width: 5px;
}

.mid::-webkit-scrollbar-thumb {
    background-color: #D6EBF9;
    border-radius: 5px;
}


.mid .container_main .asideRight .footer_parent {
    padding: 0 80px;
}

.mid .message #logo img {
    height: 60px;
    width: 60px;
    top: -10px;
    border-radius: 20px;
}

.own_message {
    display: flex;
    /* justify-content: space-between; */
    justify-content: end;
    /* width: 100%; */
    /* margin-right: -80px; */
    /* flex: 1; */
    /* padding: 0 0 0 80px; */
    align-self: flex-end;
}

.own_message .own {
    /* width: 50%; */
    margin-right: -50px;
}

.own_message .own p {
    padding: 15px 25px;
    align-items: flex-end;
    background: #E5EDF5;
    border-radius: 30px 0px 25px 30px;
    color: #010101;
    max-width: 400px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;

    font-size: 14px;
}

.message .own .namedate h6 {
    font-size: calc(12.8px + .0625vw);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.message .own .namedate section {
    font-weight: 400;
    color: #647589;
    font-family: "Roboto", sans-serif;
    font-size: calc(10.8px + .0625vw);
}


/* .mid .container_main .asideRight .footer_parent {
  padding: 0 80px;
} */
.own_message #own_logo img {
    height: 60px;
    width: 60px;
    /* margin: 5px; */
    margin: 5px 80px 0 80px;
    /* right: 80px; */
    border-radius: 20px;
}

.own_message .own_sec {
    padding-right: -50px;
}

.own_message .own .namedate {
    display: flex;
    gap: 10px;
    justify-content: flex-end;




}

.own_message .own .namedate h6 {
    font-size: calc(12.8px + .0625vw);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.own_message .own .namedate section {
    font-size: calc(11.8px + .0625vw);
    padding: 3px 0 0 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

/* value cards start  */
.cardscont {
    width: 100%;
    display: flex;
    flex-wrap: wrap !important;
}

.threebox {
    width: 300px;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #e5e1c6;
    background-color: white;
}

.upperbox {
    width: 250px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.lowerbox {
    width: 250px;
}

.fullgread {
    width: 90%;
    height: 30px;
    background-color: blueviolet;
    position: relative;
    left: -26px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 0px;
}

.fullgread01 {
    width: 90%;
    height: 30px;
    background-color: #e19b07;
    position: relative;
    left: -28px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 0px;
}

.lowerinner01 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.lowerinner01 button {
    width: 100%;
    background-color: #e19b07;
    border: none;
    height: 34px;
    border-radius: 4px;
    margin: 15px auto;
    color: white;
    font-weight: 500;
    padding-bottom: 3px;
    font-size: 16px;
    transition: all 400ms ease-in-out;
}

.fullgread03 {
    width: 90%;
    height: 30px;
    background-color: #099f43;
    position: relative;
    left: -28px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 0px;
}

.lowerinner03 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.lowerinner03 button {
    width: 100%;
    background-color: #099f43;
    border: none;
    height: 34px;
    border-radius: 4px;
    margin: 15px auto;
    color: white;
    font-weight: 500;
    padding-bottom: 3px;
    font-size: 16px;
    transition: all 400ms ease-in-out;
}

.lowerinner03 button:hover {
    background-color: #000000;
}

.lowerinner button:hover {
    background-color: #000000;
}

.lowerinner01 button:hover {
    background-color: #000000;
}

.halfwhite {
    position: absolute;
    top: 0;
    right: -10px;
    background-color: white;
    height: 30px;
    width: 50px;
    transform: rotate(45deg);
}

.shadecont {
    position: absolute;
    bottom: -3px;
    left: 1px;
    background-color: #000000d1;
    width: 16px;
    height: 6px;
    transform: rotate(18deg);
    z-index: -1;

}

.lowerinner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;

}

.sidetax {
    width: 50%;
}

.bigamount {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #f5e5f9;
}

.taxbox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.taxbox p {
    width: 90%;
    font-weight: 500;
    color: #4e4e4e;
    font-size: 13.5px;
    margin: 5px auto;
}

.taxbox p i {
    color: #26c56d;
    font-size: 12px;
    margin-right: 5px;
}

.taxbox span {
    width: 90%;
    font-weight: 500;
    color: #4e4e4e;
    font-size: 13.5px;
    margin: 5px 5px;
}

.lowerinner button {
    width: 100%;
    background: blueviolet;
    border: none;
    height: 34px;
    border-radius: 4px;
    margin: 15px auto;
    color: white;
    font-weight: 500;
    padding-bottom: 3px;
    font-size: 16px;
    transition: all 400ms ease-in-out;
}

.logotagimg {
    width: 21px;
    height: 21px;
    overflow: hidden;
    margin: auto -1px;
    margin-top: 5px;
}

.logotagimg img {
    width: 100%;
}

.lowerinner p {
    width: 90%;
    font-weight: 500;
    color: #4e4e4e;
    font-size: 13.5px;
    margin: 1px auto
}

.extraamount {
    font-size: 16px !important;
    margin-left: 0 !important;
}

.extraamount i {
    font-size: 16px !important;
}

.lowerinner22 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.lowerinner22 p {
    width: 76%;
    font-weight: 500;
    color: white;
    font-size: 15px;
    text-align: left;
    margin: auto 0;
    margin-top: 2px;
    font-family: "Poppins", sans-serif !important;
}

.lowerinner span {
    width: 90%;
    font-weight: 500;
    color: #1d1d1e;
    font-size: 13.5px;
    margin: 5px 5px;
}

.bigamount i {
    font-size: 26px;
    color: #1d1d1e;
    margin-right: 2px !important;
}

.bigamount span {
    font-weight: 500;
    font-size: 30px;
    width: max-content;
    color: #1d1d1e;
}

.paymtsimg {
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-left: 15px;
}

.paymtsimg2 {
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-left: 15px;
}

.paymtsimg2 img {
    width: 100%;
}

.paymtsimg img {
    width: 100%;
}

.jobbox-grid-item {
    max-width: 25% !important;
    margin: 22px 30px;
}

/* value cards end  */

.lowerment {
    background: #f9f9f9;
    color: black;
    width: 121px;
    height: 28px;
    text-align: center;
    border: 1px solid #d1d1d1;
    font-weight: 500 !important;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    cursor: pointer;
    font-size: 13px;
}

/* wallet CSS start  */

.walletamount {
    border: 1px solid #ebeae9;
    margin-bottom: 30px;
    box-shadow: 2px 2px 3px -3px #c4c7c9;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.usertransaction {
    width: 90%;
    margin: 15px auto;
}

.addamount {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* margin: 10px auto; */
}

.walletAddAmount {
    flex-direction: column;
}

.selectmoneytag {
    padding: 8px 12px;
    border: none;
    font-size: 16px;
    border-bottom: 2px solid #e8bc52;
    border-radius: 4px;
    width: 100%;
}

.optionmoneytag {
    padding: 8px 12px;
    font-size: 15px;
    color: rgb(33, 37, 41);
}

.moneybutton {
    background: #ee9d05;
    color: white;
    border: none;
    height: 39px;
    width: 74%;
    border-radius: 4px;
    margin-top: 9% !important;
    margin-left: 6%;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.selectmoneytag:focus {
    border: none;
    border-bottom: 2px solid #e8bc52;
    border-radius: 4px;
    outline: none;
}

.card-title {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    color: #001935 !important;
    margin-top: 0px;
    font-weight: 600;
    font-size: 16px;
}

.moneybutton:hover {
    background: #353637;
    color: white;
    transform: scale(1.05);
}

.user-dashboard-info-box {
    background: white;
    /* body:background - #f7f7f7; */
}

.walletplus {
    border: 1px solid #ebeae9;
    padding: 1rem 2rem;
    margin-bottom: 30px;
    box-shadow: 2px 2px 3px -3px #c4c7c9;
}

.col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 55.333333%;
}

.transaction {
    width: 100%;
    margin: 30px 0;
}

.historypayment {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 18px 0;
    margin-bottom: 32px;
    position: relative;
}

.panditprofile {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    overflow: hidden;
}

.nameofmoneyrecieved h4 {
    font-size: 15.9px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin: 0 0;
    margin-bottom: 1px;
    color: #171718;
}

.nameofmoneyrecieved p {
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin: 0 0;
    color: #353637;
    margin-top: 1px;
}

.panditprofile img {
    width: 100%;
    object-fit: cover;
}

.nameofmoneyrecieved {
    width: 70%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.paidpayments {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.paidpayments p {
    width: 100%;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin: 0 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
    margin-bottom: 0 0;
    color: #171718;
    padding-left: 0 !important;
}
.paidpayments p i {
    margin-right: 6px;
}



.paidsign {
    padding-left: 5px;
    color: #0cb032 !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    margin-top: -1.5px !important;
}

.transactionline {
    position: absolute;
    bottom: -27%;
    right: 9%;
    width: 77%;
    height: 1px;
    margin-top: 32px;
    background-color: #a5a5a5;
}

.iconinpandit {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #f6f8ff;
    border: 1px solid #ced0cf;
}

.iconinpandit i {
    color: #0cb032;
    font-size: 24px;
    margin-right: -1px;
}

.popularrecharge {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
}

.redsticker {
    position: absolute;
    right: 0;
    top: 14%;
    height: 29px;
    width: 35%;
    background-color: #212329;
    z-index: 1;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.popularrecharge p {
    width: 60%;
    text-align: right;
    z-index: 5;
}

body {
    background: #fbfaf9 !important;
}

.whiteboxescont {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftusername {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.twosections {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #ebeae9;
    border: 1px solid #ebeae9;
    box-shadow: 0 3px 20px #1d26260d;
}

.twosections2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    margin-bottom: 19px;
}

.rightusername {
    width: 53%;
    height: 318px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: white; */
    background-image: url('https://c1.wallpaperflare.com/preview/529/802/414/star-sky.jpg');
    /* background-image: url('https://i.pinimg.com/736x/ac/92/7a/ac927a3bb1a95824e02e995719886898.jpg'); */
    background-size: cover;
    border-radius: 15px;
    box-shadow: 0 3px 20px #1d26260d;
    position: relative;
    overflow: hidden;
}

.overlaypandit {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: block;
    background: linear-gradient(0deg, #000000e8 0%, rgba(255, 255, 255, 0) 100%);
}

.rightusername2 {
    width: 53%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card {
    background-color: white;
}

.iconname i {
    font-size: 16px;
    color: #efb508;
}

.iconname {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.nameofuser {
    width: 92%;
    margin: 21px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nameofuser2 {
    width: 92%;
    margin: 0px auto;
    margin-bottom: 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.iconname h3 {
    width: 95%;
    font-size: 16px;
    margin: 0 0;
    text-align: left;
    padding-left: 7%;
    color: #1f2124 !important;
    font-weight: 500;
}

.headingtext {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    z-index: 5;
}

.headingtext h5 {
    width: 90%;
    text-align: center;
    margin: 8px auto;
    font-size: 26px;
    color: white !important;
}

.headingtext p {
    width: 85%;
    margin: 0px auto;
    text-align: center;
    color: white;
    font-size: 14.5px;
    margin-top: 6px;
}

.panditimage {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.circlerotation {
    width: 74%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circlerotation img {
    width: 250px;
    background-size: cover;
    animation: rotate 6s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.mainpanditimage {
    width: 200px;
    height: 200px;
    background-image: url(/assets/images/astrobuddy_pandit.png);
    background-size: cover;
    animation: none;
    position: absolute;
    top: 2%;
    right: 14%;
}

.starnumber {
    font-size: 14px;
    font-weight: 600;
    margin-left: 5px;
}

.newcircle {
    left: 7% !important;
    width: 63px !important;
    height: 63px !important;
}

.upcomingappointment {
    width: 100%;
    /* background-color: #1a1a1a; */
    /* background-color: #1b1f41; */
    background-image: url('/assets/images/block_bg.png');
    border-radius: 20px;
    margin-top: 16px;
    box-shadow: 0 3px 20px #1d26260d;
}

.upcomingappointment h2 {
    width: 90%;
    margin: 15px auto;
    font-size: 17px;
    color: white !important;
    font-weight: 400 !important;
    margin-bottom: -13px;
    font-family: "Poppins", sans-serif !important;
}

.countdown-timer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: Arial, sans-serif;
}

.firstboxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.firstboxes div {
    font-size: 1.35em;
    margin-bottom: 0 !important;
    font-family: "Poppins", sans-serif !important;
    font-weight: 500;
    color: white;
}

.firstboxes label {
    color: #ffffff;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 18px;
    font-family: "Poppins", sans-serif !important;
}

.countdown-timer div {
    padding: 10px;
    padding-bottom: 0;
}

.countdown-timer span {
    padding-bottom: 8px;
    font-size: 2.5rem;
    color: white;
}

.progressbar {
    background-color: white;
    box-shadow: 0 3px 20px #1d26260d;
    width: 45%;
    border: 1px solid #E0E6F7;
    border-radius: 15px;
    padding-bottom: 13px;
}

.alltransaction {
    width: 90%;
    margin: 10px auto;
}

.alltransaction h3 {
    font-size: 16px;
    color: black !important;
    font-weight: 500;
    margin-top: 16px;
    padding-left: 4px;
    font-family: "Poppins", sans-serif !important;
}

.alltransaction hr {
    font-size: 16px;
    color: #727375;
    font-weight: 500;
    margin-top: 11px;
}

.lowertransaction {
    width: 90%;
    margin: 2px auto;
}

.conversation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
}

.conversation h2 {
    font-size: 14.5px;
    color: #222427 !important;
    font-weight: 500;
    margin: 0 0;
}

.conversation span {
    color: #252526;
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
}

.conversationbar {
    background: transparent;
    height: 2px;
    width: 70%;
    border-radius: 5px;
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    display: none;
}

.colorbar {
    background: #06b55e;
    height: 3px;
    border-radius: 5px;
    width: 30%;
}

.sm {
    width: 23px;
    overflow: hidden;
    margin: auto;
}

.sm img {
    width: 100%;
    /* animation: rotate 6s linear infinite; */
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.smlg {
    width: 220px;
    overflow: hidden;
    margin-top: 0 !important;
}

.smlg img {
    width: 100%;
}

.panditimage {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.circlerotation {
    width: 74%;
    position: relative;
}

.circlerotation img {
    width: 250px;
    background-size: cover;
    animation: rotate 6s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.starnumber {
    font-size: 14px;
    font-weight: 600;
    margin-left: 5px;
}

.newcircle {
    left: 7% !important;
    width: 63px !important;
    height: 63px !important;
}
