.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y)* -1);
    margin-right: calc(var(--bs-gutter-x)* -.5);
    margin-left: calc(var(--bs-gutter-x)* -.5);
}
div {
    display: block;
    unicode-bidi: isolate;
}
alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.alert-dismissible {
    padding-right: 4rem;
}
.alert-warning {
    color: #856400;
    background-color: #fff3cc;
    border-color: #ffeeb8;
}
.w-100 {
    width: 100% !important;
}
.alert {
    font-size: 0.875rem;
}
.alert-warning {
    color: #c29300;
    background-color: rgba(255, 193, 0, 0.2);
    border-color: #ebb200;
}
.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-top: var(--bs-gutter-y);
}

.fade {
    transition: opacity .15s linear;
}
.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.alert-dismissible {
    padding-right: 3rem;
}
.alert-warning {
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
}
.w-100 {
    width: 100% !important;
}
