.progress-description {
                font-size: 1rem;
                font-weight: 400;
                font-size: 18px;
                font-family: 'poppins', sans-serif;
            }

            .as-sign-box {
                margin-bottom: 15px;
                margin-top: 0px;
            }

            .progress-card {
                --color-accent: #333;
                --color-border: #e4e4e4;
                width: 100%;
                border-radius: 5px;
                margin-bottom: 1em;
                position: relative;
                overflow: hidden;
                border: 1px solid var(--color-border);
                border-bottom: 0;
            }

            .progress-card::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: var(--color-accent);
                opacity: 0.05;
            }

            .progress-card.orange {
                --color-accent: #ffc48b;
            }

            .progress-card.purple {
                --color-accent: #b4b3ff;
            }

            .progress-card.pink {
                --color-accent: #ffb3c0;
            }

            .progress-card-content {
                padding: 0.7em;
            }

            .progress-card .progress-bar {
                background-color: var(--color-border);
                display: block;
                width: 100%;
                height: 5px;
                position: relative;
            }

            .progress-card .progress-bar::before {
                content: '';
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
                height: 5px;
                background-color: var(--color-accent);
                opacity: 0.15;
            }

            .progress-card .progress-bar::after {
                content: '';
                width: var(--value);
                position: absolute;
                left: 0;
                top: 0;
                height: 5px;
                background-color: var(--color-accent);
            }

            .progress-title {
                font-weight: 600;
                margin-bottom: 0.25em;

                    {
                        {
                        -- opacity: 0.9;
                        --
                    }
                }
            }

            .progress-description {
                font-size: 0.9rem;
                font-weight: 400;

                    {
                        {
                        -- opacity: 0.85;
                        --
                    }
                }

                color: black;
            }

            .progress-card span {
                display: block;
            }

            .as-sign-box {

                margin-bottom: 15px;
                margin-top: 0px;
            }

            .ast_slider_wrapper {
                margin-bottom: 45px;
            }

            .ariesdescription {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-right: 0 !important;
                margin: 0 auto;
            }


            .progress-card {
                transition: transform 250ms;
                --color-accent: #333;
                --color-border: #e4e4e4;
                width: 100%;
                border-radius: 5px;
                margin-bottom: 1em;
                position: relative;
                overflow: hidden;
                border: 1px solid var(--color-border);
                border-bottom: 0;
            }

            .progress-card-head {
                --color-accent: #333;
                --color-border: #e4e4e4;
                width: 100%;
                border-radius: 5px;
                margin-bottom: 1em;
                position: relative;
                overflow: hidden;
                border: 1px solid var(--color-border);
                border-bottom: 0;
            }

            .progress-title {
                color: #000;
                font-weight: 600;
                font-size: 19px;
                font-family: 'poppins', sans-serif;
            }

            .progress-card:hover {
                background-color: #fbe01617 !important;
                transform: translateY(-2px);
                box-shadow: 0 0 11px rgba(33, 33, 33, .2);
            }

            .progress-card::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: var(--color-accent);
                opacity: 0.05;
            }

            #astrologom {
                animation: spin 9s infinite linear;
            }

            @keyframes spin {
                from {
                    transform: rotate(0deg);
                }

                to {
                    transform: rotate(360deg);
                }
            }

            .ast_slider_wrapper {
                float: left;
                width: 100%;
                position: relative;
                background-color: #111111;
                z-index: 1;
                background-image: url("{{ asset('website/assets/Zodiac/contact.jpg') }}");
                background-size: cover;
            }

            .appointment {

                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 18px 0;
            }

            .hidden {
                display: none;
            }

            .same {
                display: flex;
            }



            @keyframes blink {
                0% {
                    opacity: 1;
                }

                50% {
                    opacity: 0.2;
                }

                100% {
                    opacity: 1;
                }
            }

            .as-sign-box {
                width: 150px;
                padding: 12px 20px 20px;
                margin-left: 25px
            }

            .as-sign-box h5 {
                font-size: 15px;
                white-space: nowrap;
            }

            .blink {
                animation: blink 1s infinite;
            }

            .col-2 {
                flex: 0 0 auto;
                width: 94%;
            }

            .active-tab {
                background-color: #f0f0f0;
                /* Example active tab background color */
            }
