* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.pop-upPricing {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000ad;

}

.chakraput {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.chakraput img {
    width: 90%;
}

.innerPricing {
    /* background: linear-gradient(#0000, #0000), url(./astro-chat.webp); */
    background: linear-gradient(#fffffff0, #ffffffde), url(abstract-glowing-wave-lines-dark-blue-background-modern-flowing-wavy-lines_1055519-3147-removebg-preview.png);
    /* background-blend-mode: lighten; */
    background-size: cover;
    width: 62%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: white; */
    padding-bottom: 25px;
    border-radius: 17px;
    /* overflow: hidden; */
}

.logodesign {
    width: 226px;
    display: flex;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 16px;
    box-shadow: 2px 2px 4px -1px #dddbdf;
    height: 48px;
    background: linear-gradient(45deg, #3b1c51 26%, #42194c);
    /* background: linear-gradient(45deg, #6b233a 26%, #622237); */
}

.popupUser {
    width: 100%;
}

.validUser {
    width: 96%;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
}

.logoLine {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.astroLogo {
    width: 96%;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.astroLogo img:nth-child(1) {
    width: 19px;
    object-fit: cover;
    margin-right: 6px;
    margin-top: 2px;
}

.astroLogo img:nth-child(2) {
    width: 150px;
    object-fit: cover;
}

.textAmount {
    width: 66%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    /* background: #27283c; */
    /* box-shadow: 2px 2px 4px #cacaca9c; */
    /* background: linear-gradient(45deg, #272a33 26%, #272a32); */
    padding: 9px 20px;
    border-radius: 6px;
    margin-right: 0;
    padding-right: 4%;
    position: relative;
}

.boucher {
    width: 70px;
    height: 44px;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.05rem;
    margin: 10px 15px;
    color: #15161c;
    border-radius: 5px;
    font-weight: 500;
    box-shadow: 1px 1px 2px #e1e1e1;
    font-family: "Lato", serif;
}

.textAmount p:nth-child(1) {
    font-family: "Poppins", serif;
    font-size: 1.5rem;
    color: #16171f;
    /* color: white; */
    font-weight: 500;
    margin-bottom: 0 !important;
}

.walletText {
    font-size: 0.85rem;
    font-family: "Montserrat", serif;
    color: #0e0e10;
    /* color: white; */
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 8px;
}

.walletText i {
    font-size: 0.85rem;
    color: #0e9d3b;
    /* color: white; */
    margin-right: 3px;
}

.boucher i {
    font-size: 0.84rem;
    margin-right: 3px;
    margin-top: 3px;
}

.textAmount p:nth-child(1) i {
    color: #16171f;
    font-size: 1.3rem;
    margin-right: 1px;
}

.topUpRecharge {
    width: 90%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 15px;
}

.topUpRecharge button:nth-child(1) {
    width: 273px;
    height: 46px;
    background: linear-gradient(45deg, #3b1c51 26%, #41194c);
    font-size: 0.95rem;
    font-weight: 500;
    font-family: "Montserrat", serif;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #9a9a9fcc;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.topUpRecharge button:nth-child(1):hover {
    background: linear-gradient(45deg, #058925 26%, #105920);
    transform: scale(1.05);
}




@media screen and (max-width: 500px) {
    .innerPricing {
        width: 90%;
        margin: 10px auto;
    }

    .logoLine {
        flex-direction: column;
    }

    .textAmount {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        padding-right: 0%;
    }

    .textAmount p:nth-child(1) i {
        color: #16171f;
    }

    .validUser {
        width: 96%;
        margin: 10px auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .topUpRecharge button:nth-child(1) {
        width: 254px;
        height: 40px;
        background: linear-gradient(45deg, #3b1c51 26%, #41194c);
        font-size: 0.88rem;
        font-weight: 500;
        font-family: "Montserrat", serif;
        color: white;
        border: none;
        border-radius: 5px;
        box-shadow: 1px 1px 4px #9a9a9fcc;
        cursor: pointer;
        transition: all 400msease-in-out;
    }

    .astroLogo img:nth-child(2) {
        width: 130px;
        object-fit: cover;
    }

    .astroLogo img:nth-child(1) {
        width: 17px;
        object-fit: cover;
        margin-right: 6px;
        margin-top: 4px;
    }

    .logodesign {
        width: 205px;
        display: flex;
        border-bottom-right-radius: 50px;
        box-shadow: 2px 2px 4px -1px #dddbdf;
        height: 44px;
        background: linear-gradient(45deg, #3b1c51 26%, #42194c);
        /* background: linear-gradient(45deg, #6b233a 26%, #622237); */
    }

    .textAmount p:nth-child(1) {
        font-size: 1.35rem;
        color: #16171f;
        background: #eae8ef;
        padding: 2% 6%;
        height: 37px;
        border-radius: 3px;
        display: flex;
        /* box-shadow: 2px 2px 4px -1px #b3b3b4; */
        align-items: center;
        box-shadow: 1px 1px 3px -1px #d3d3d3;
        justify-content: center;
    }

    .textAmount p:nth-child(1) i {
        color: #16171f;
        font-size: 1.2rem;
        margin-right: 1px;
    }

    .AmountWallet {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: #058925;
        height: 5px;
        width: 150px;
    }

    .walletText {
        margin-bottom: 0px !important;
    }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
    .innerPricing {
        width: 90%;
        margin: 10px auto;
    }

    .logoLine {
        flex-direction: column;
    }

    .textAmount {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }

    .validUser {
        width: 96%;
        margin: 10px auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .topUpRecharge button:nth-child(1) {
        width: 254px;
        height: 40px;
        background: linear-gradient(45deg, #3b1c51 26%, #41194c);
        font-size: 0.88rem;
        font-weight: 500;
        font-family: "Montserrat", serif;
        color: white;
        border: none;
        border-radius: 5px;
        box-shadow: 1px 1px 4px #9a9a9fcc;
        cursor: pointer;
        transition: all 400msease-in-out;
    }

    .astroLogo img:nth-child(2) {
        width: 130px;
        object-fit: cover;
    }

    .astroLogo img:nth-child(1) {
        width: 17px;
        object-fit: cover;
        margin-right: 6px;
        margin-top: 4px;
    }

    .logodesign {
        width: 205px;
        display: flex;
        border-bottom-right-radius: 50px;
        box-shadow: 2px 2px 4px -1px #dddbdf;
        height: 44px;
        background: linear-gradient(45deg, #3b1c51 26%, #42194c);
        /* background: linear-gradient(45deg, #6b233a 26%, #622237); */
    }

    .textAmount p:nth-child(1) {
        font-family: "Poppins", serif;
        font-size: 1.4rem;
        color: #16171f;
        /* color: white; */
        font-weight: 500;
    }

    .textAmount p:nth-child(1) i {
        color: #16171f;
        font-size: 1.2rem;
        margin-right: 1px;
    }
}

.close-btn {
    position: absolute;
    right: 9% !important;
    top: 4% !important;
    width: 30px;
    height: 30px;
    background-color: #f9fcfa !important;
    color: #411a4d !important;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    animation: pulse 1s infinite;
}